*.a
*.o
*.test
.*.d
/.gopath
/.makevars/
/.vagrant
/Makefile.config
/bin/
/node_modules
/repos/
/src/vendor/libdivsufsort/build/
/web/log/
config.json
vendor/re2/obj/libre2.a
/bazel-*
compile_commands.json
.devbox
