body {
    margin: 3em;
}

#searcharea {
    width: 30em;
    margin: auto;
    margin-bottom: 1em;
    padding: 5px;
    border: 1px solid black;
}

#regex-error {
    float: right;
    display: none;
}

#errortext {
    color: red;
}

#resultarea {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
}

.label {
    font-weight: bold;
}

.clear {
    clear: both;
}

.match {
    margin-top: 1em;
    margin-botton: 1em;
    margin-right: 2em;
    margin-left: 2em;
}

.match .label {
    font-family: monospace;
}

.match .lno {
    width: 4em;
    padding-right: 1em;
}

.match .contents {
    white-space: pre;
    font-family: monospace;
    background: #eee;
    border: 1px solid black;
    margin-left: 1em;
    padding: 3px;
}

.match .matchstr {
    font-weight: bold;
}
