version: 2
jobs:
  build:
    docker:
      - image: us.gcr.io/livegrep/ci:11

    steps:
      - checkout
      - restore_cache:
          keys:
            - bazel-cache

      - run: ./.circleci/build.sh
      - save_cache:
          key: bazel-cache
          paths:
            - /root/.cache/bazel
