{{define "filecontent"}}
<div class="file-content">
  <code id="source-code" class="code-pane language-{{.Language}}">{{.Content}}</code>
  <!--
  NOTE: The reason the line number links are after the code block above is because
  they take a significant amount of time to render for large files. If we keep
  them before the code block, we'll block the rendering of the important content until
  the line numbers are done. Placing them after the code block and absolutely positioning them
  to be rendered before seems to work well though.
  -->
  <div id="line-numbers" class="line-numbers hide-links" style="display:none">
    {{range $index, $element := loop .LineCount}}
      {{$lineNum := toLineNum $index}}
      <a id="L{{$lineNum}}" href="#L{{$lineNum}}">{{$lineNum}}</a>
    {{end}}
  </div>
</div>
{{end}}
