<div id='searcharea'>
  <p>
    This live-grep project was an experiment in scaling real-time
    regex search, inspired in part by the death of <a
    href="http://google.com/codesearch">Google Codesearch.</a>
  </p>
  <p>
    live-grep uses Russ Cox's excellent <a
    href="http://code.google.com/p/re2/">RE2</a> regular
    expression library, underneath a custom indexing and searching
    backend written in C++ with pthreads. The frontend is
    implemented in <a href="http://nodejs.org/">node.js</a> using
    <a href="http://socket.io/">socket.io</a> for the realtime
    communication with the browser.
  </p>
</div>