<div class='textarea'>
  <p>
    Search over source code by typing a regular expression into the
    query box. Searches are case-insensitive by default:
  </p>
  <div class='example'>
    <span class='query'>
      hello,?\sworld
    </span>
    <span class='link'>
      <a href="/search/?q=hello,?\sworld">
        try it
      </a>
    </span>
  </div>

  <p>
    Queries containing capital letters are matched case-sensitively:
  </p>

  <div class='example'>
    <span class='query'>
      Hello
    </span>
    <span class='link'>
      <a href="/search/?q=Hello">
        try it
      </a>
    </span>
  </div>

  <p>
    Use <span class='query'>case:</span> to force a lower-case match:
  </p>

  <div class='example'>
    <span class='query'>
      case:hello
    </span>
    <span class='link'>
      <a href="/search/?q=case:hello">
        try it
      </a>
    </span>
  </div>

  <p>
    Use <span class='query'>lit:</span> to match a literal string. At
    present you can't mix and match a literal string and a regular
    expression.
  </p>

  <div class='example'>
    <span class='query'>
      lit:()()
    </span>
    <span class='link'>
      <a href="/search/?q=lit:()()">
        try it
      </a>
    </span>
  </div>

  <p>
    Restrict matches to specific files using a <span
    class='query'>file:</span> modifier:
  </p>

  <div class='example'>
    <span class='query'>
      exit file:\.c$
    </span>
    <span class='link'>
      <a href="/search/?q=exit+file:[.]c$">
        try it
      </a>
    </span>
  </div>

  <p>
    Wrap a clause in parentheses to stop interpretation of spaces or
    query modifiers:
  </p>

  <div class='example'>
    <span class='query'>
      (file:)
    </span>
    <span class='link'>
      <a href="/search/?q=(file:)">
        try it
      </a>
    </span>
  </div>

  <p>
    Exclude files from matches using <span class='query'>-file:</span>:
  </p>

  <div class='example'>
    <span class='query'>
      exit -file:\.c
    </span>
    <span class='link'>
      <a href="/search/?q=exit -file:\.c">
        try it
      </a>
    </span>
  </div>


  {{ if .SampleRepo }}
  <p>
    Restrict matches to specific repositories via <span
    class='query'>repo:</span>
  </p>

  <div class='example'>
    <span class='query'>
      fail repo:{{.SampleRepo}}
    </span>
    <span class='link'>
      <a href="/search/?q=exit+repo:{{.SampleRepo}}">
        try it
      </a>
    </span>
  </div>
  {{ end }}

  <p>
    The complete RE2 Syntax reference is available on their wiki page:
    <a href="https://github.com/google/re2/wiki/Syntax">
      https://github.com/google/re2/wiki/Syntax
    </a>
  </p>

  <p>
  </p>
</div>
