<script type="text/javascript">
  $(function(){
    CodesearchUI.repo_urls = {{.RepoUrls}};
    CodesearchUI.intervalViewRepos = {{.InternalViewRepos}};
    CodesearchUI.onload();
  });
</script>
<div id='searcharea'>
  <div id='searchinput'>
    <div class='querybox'>
    <span class='label'>query:</span>
    <input type="text" id='searchbox'></input>
    <span class='help'><a href="/help" target="_blank">help</a></span>
    <span id='whatbox'>
      {{if gt (.Backends | len) 1 }}
      <span class='what'> Search:
      <select id='backend'>
        {{range .Backends}}
        <option value="{{.Id}}">{{.I.Name}}</option>
        {{end}}
      </select>
      </span>
      {{else}}
      {{with index .Backends 0}}
      <span class='what'> Searching: {{ .I.Name }}</span>
      <select id='backend' style='display: none;'>
        <option value="{{.Id}}">{{.I.Name}}</option>
      </select>
      {{end}}
      {{end}}
    </span>
    </div>
    <div class='clear'> </div>
  </div>
  <div id='regex-error'>
    <span class='label'> error: </span>
    <span id='errortext'> </span>
    </div>  
</div>
<div id='resultbox'>
<div id='resultarea'>
  <a href="/search" id='permalink'>[link to results]</a>
  <div id='countarea'>
    <span id='numresults'>0</span> matches found
    <span id='searchtimebox'>
      <span class='label'>
        /
      </span>
      <span id='searchtime'>
      </span>
    </span>
  </div>
  <div id='results'>
  </div>
</div>
</div>
