<script type="text/javascript">
  $(function(){CodesearchUI.github_repos = {{.GithubRepos}};});
</script>
<div id='searcharea'>
  <table id='searchinput'>
    <tr>
      <td><span class='label'>regex:</span></td>
      <td><input type="text" id='searchbox'></input></td>
    </tr>
    <tr>
      <td><span class='label'>path:</span></td>
      <td><input type="text" id='filebox'></input></td>
    </tr>
    <tr id='reposel'>
      <td><span class='label'>repository:</span></td>
      <td><input type="text" id='repobox'></input></td>
    </tr>
  </table>
  <div id='errorbox'>
    {{if gt (.Backends | len) 1 }}
    <div class='what'> Search:
    <select id='backend'>
    {{range .Backends}}
     <option value="{{.Id}}">{{.I.Name}}</option>
    {{end}}
    </select>
    </div>
    {{else}}
    <div class='what'> Now searching: {{ (index .Backends 0).I.Name }}</div>
    {{end}}
    <div id='regex-error'>
      <span class='label'> Error: </span>
      <span id='errortext'>
      </span>
    </div>
  </div>
  <div class='clear'> </div>
</div>
<div id='resultbox'>
<div id='resultarea'>
  <a href="/search" id='permalink'>[link to results]</a>
  <div id='countarea'>
    <span id='numresults'>0</span> matches found
    <span id='searchtimebox'>
      <span class='label'>
        /
      </span>
      <span id='searchtime'>
      </span>
    </span>
  </div>
  <div id='results'>
  </div>
</div>
</div>
