<div id='searcharea'>
  <table id='searchinput'>
    <tr>
      <td><span class='label'>regex:</span></td>
      <td><input type="text" id='searchbox'></input></td>
    </tr>
    <tr>
      <td><span class='label'>path:</span></td>
      <td><input type="text" id='filebox'></input></td>
    </tr>
  </table>
  <div id='errorbox'>
    <div class='what'> Now searching: Linux 3.0 </div>
    <div id='regex-error'>
      <span class='label'> Error: </span>
      <span id='errortext'>
      </span>
    </div>
  </div>
  <div class='clear'> </div>
</div>
<div id='resultarea'>
  <div id='countarea'>
    <span id='numresults'>0</span> matches found
    <span id='searchtimebox'>
      <span class='label'>
        /
      </span>
      <span id='searchtime'>
      </span>
    </span>
  </div>
  <div id='results'>
  </div>
  <span>
    &nbsp;
  </span>
