<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>code search ⋅ {{.Title}}</title>
    <link rel="stylesheet" href='/assets/css/codesearch.css' />
    <script language="javascript" type="text/javascript" src="/assets/js/3d/jquery.js"></script>
    {{if .IncludeJS}}
    <script language="javascript" type="text/javascript" src="/assets/js/3d/underscore.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/js/3d/backbone.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/js/3d/html.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/js/codesearch.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/js/codesearch_ui.js"></script>
    {{if .Config.Sentry.URI}}
    <script src="//cdn.ravenjs.com/1.1.14/jquery,native/raven.min.js"></script>
    <script>
      Raven.config({{.Config.Sentry.URI}}, {}).install();
    </script>
    {{end}}
    {{end}}
    {{if .Config.GoogleAnalyticsId}}
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{.Config.GoogleAnalyticsId}}']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    {{end}}
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Stripe Code Search" />
  </head>
  <body>
    <div id='header'>
      <ul>
        <li><a href="/">search</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="https://github.com/nelhage/livegrep">source</a></li>
        {{if .Config.Feedback.MailTo}}
        <li><a id='feedbacklink' href="mailto:{{.Config.Feedback.MailTo}}">feedback</a></li>
        {{end}}
        <li class='first'>livegrep is a project by <a href="http://blog.nelhage.com/">Nelson Elhage</a></li>
      </ul>
    </div>
    <div id='feedback'>
      <form id='feedbackform' action='#'>
        <div class='label'>Comments? Questions? Suggestions? </div>
        <textarea rows='10' cols='40'></textarea>
        <div class='clear'> </div>
        <span class='label'>Email (if you want a reply):</span>
        <input type='text' class='email'> </input>
        <div class='clear'> </div>
        <span class='submit'>
          <span class='result'> </span>
          <img class='spinner' src='/assets/img/ajax-loader.gif' alt='…'> </img>
          <button>Send It</button>
        </span>
      </form>
    </div>
    {{ .Body}}
  </body>
</html>
