<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>code search ⋅ {{title}}</title>
    <link rel="stylesheet" href='css/codesearch.css' />
    <script language="javascript" type="text/javascript" src="js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="feedback.js"></script>
    {{#if js}}
    <script language="javascript" type="text/javascript" src="js/underscore.js"></script>
    <script language="javascript" type="text/javascript" src="js/backbone.js"></script>
    <script language="javascript" type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script language="javascript" type="text/javascript" src="js/html.js"></script>
    <script language="javascript" type="text/javascript" src="codesearch.js"></script>
    <script language="javascript" type="text/javascript" src="codesearch_ui.js"></script>
    {{/if}}
    {{#if production}}
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10353960-3']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    {{/if}}
  </head>
  <body>
    <div id='header'>
      <ul>
        <li><a href="/">search</a></li>
        <li><a href="/about">about</a></li>
        <li><a id='feedbacklink' href="mailto:feedback@livegrep.com">feedback</a></li>
        <li class='first'>livegrep is a project by <a href="http://blog.nelhage.com/">Nelson Elhage</a></li>
      </ul>
    </div>
    <div id='feedback'>
      <form id='feedbackform' action='#'>
        <div class='label'>Comments? Questions? Suggestions? </div>
        <textarea rows='10' cols='40'></textarea>
        <div class='clear'> </div>
        <span class='label'>Email (if you want a reply):</span>
        <input type='text' class='email'> </input>
        <div class='clear'> </div>
        <span class='submit'>
          <span class='result'> </span>
          <img class='spinner' src='ajax-loader.gif' alt='…'> </img>
          <button>Send It</button>
        </span>
      </form>
    </div>
    {{{body}}}
  </body>
</html>
