#bench iframe {
    border: 2px solid black;
    margin: 5px;
}

#bench .controls {
    width: 100%;
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 5px;
    font-family: monospace;
}
