body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#searcharea {
    width: 40em;
    margin: auto;
    margin-bottom: 1em;
    border: 1px solid black;
}

#searcharea p {
    margin: 10px;
}

#searchinput {
    margin: 10px;
}

.querybox {
    font-size: 80%;
    text-align: center;
}

#searcharea input {
    width: 20em;
}

#whatbox {
    padding-left: 1em;
}

.what {
    color: #999;
}

#regex-error {
    display: none;
    text-align: center;
    margin: 10px;
}

#errortext {
    color: red;
}

#searchtimebox {
    display: none
}

#resultbox {
    margin: 1em 3em;
}

.label {
    font-weight: bold;
}

.clear {
    clear: both;
}

#results {
    margin-top: 10px;
}

.file-group {
    background: rgba(34, 76, 89, 0.05);
    margin-bottom: 15px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-left: solid 3px #A0D1FA;
}

.file-group .header {
    color: #3d464d;
    font-family: monospace;
    font-weight: normal;
    display: block;
    background: rgba(0, 126, 229, 0.04);
    padding: 3px 5px;
}

.file-group .header .filename {
    font-weight: bold;
}

.file-group .header .repo, .file-group .header .version {
    color: rgba(0, 0, 0, 0.5);
}

.match {
    display: block;
    border: solid 0 rgba(0, 0, 0, 0.15);
    border-top-width: 1px;
    margin-top: 5px;
    background-color: #fff;
}

.match:first-of-type {
    border-top-width: 0;
    margin-top: 0px;
}

.match.clip-before {
    margin-top: 0;
    border-top: none;
}

.match.clip-before .contents {
    padding-top: 0;
}

.match.clip-after .contents {
    padding-bottom: 0;
}

.match .contents {
    display: grid;
    grid-template-columns: 4em auto;
    white-space: pre-wrap;
    font-family: monospace;
    padding: 10px 5px;
    color: #000;
    margin: 0;
}

.lno-link {
    color: #3d464d;
    padding-right: 1em;
    text-align: right;
}

.lno:before {
    content: attr(aria-label);
}

.matchlno {
    font-weight: bold;
}

.matchstr {
    background: #FFFF00;
    font-weight: bold;
}

#countarea {
    float: right;
}

#header li {
    display: inline;
}

#header li:before {
    content: "∙";
    color: #999;
    text-decoration: none;
    margin: 5px;
}

#header li:first-child:before {
    content: ""
}

#header .first {}

#header {
    font-size: 80%;
    color: #999;
    margin: auto;
    width: 40em;
}

#permalink {
    font-size: 80%;
}

#resultarea {
    display: none;
}

/* File viewer */
.file-viewer {
    border-collapse: collapse;
    margin: 0;
    line-height: 1.3;
    width: 100%;
    overflow: visible; /* Allow code content to overflow */
    font-family: monospace;
}

.file-viewer .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 8px;
    /* The left padding should be the width of the .line-number column + the left margin
       of the code block. This will align the header content with the code. */
    padding-left: 95px;

    background-color: white;
    border-bottom: solid 1px rgba(0,0,0,0.15);
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

.file-viewer .header .repo {
    color: rgba(0, 0, 0, 0.5);
}

.file-viewer .header .repo:hover {
    color: rgba(0, 0, 0, 1.0);
}

.file-viewer .header-title {
    font-size: 14px;
    padding: 0;
    margin: 0 0 5px 0;
    font-weight: normal;
    overflow: auto;
}

.file-viewer .content-wrapper {
    /* Offset the content so that the overlapping header doesn't occlude it. */
    position: relative;
    margin-top: 5em;
}

.file-viewer .file-content {
    position: relative;
    font-family: monospace;
}

.file-viewer .line-numbers {
    top: 0;
    left: 0;
    width: 75px;
    text-align: right;
}

.file-viewer .line-numbers > .line:focus {
    outline: none;
}

.file-viewer .line-numbers a:focus {
    outline: solid 1px rgba(255, 234, 170, 0.5);
    background: rgba(255, 234, 170, 0.33);
}

.file-viewer .line-numbers .highlighted {
    background: rgba(255, 234, 170, 0.75);
    left: 0;
    width: 100%;
}

.file-viewer .line-numbers a.highlighted:focus {
    background: rgba(255, 234, 170, 0.75);
}

.file-viewer .line-numbers a {
    display: block;
    width: 100%;
    color: rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.file-viewer .line-numbers a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}
.file-viewer .code {
    position: absolute;
    top: 0;
    left: 75px;
    width: 30%;
    overflow: visible;
    margin: 0 0 0 20px;
    white-space: pre;
    padding: 0 !important; /* Cancel out the padding added by HLJS */
    color: #4d4d4c; /* Match the text color of HLJS to avoid shift when the JS has finished */
}

.file-viewer .code.hljs {
    background: transparent !important; /* Override HLJS default styling */
}

.file-viewer .help-screen .u-modal-content {
    width: 600px;
    padding: 20px;
}

.file-viewer .help-screen li {
    margin-top: 20px;
}

.file-viewer .help-screen li:first-child {
    margin-top: 0px;
}

.file-viewer .help-screen .keyboard-shortcut {
    display: inline-block;
    background: rgba(0,0,0,0.05);
    border: solid 1px rgba(0,0,0,0.05);
    padding: 3px;
    margin: 0;
    font-weight: bold;
}

.file-viewer .query {
    width: 100%;
    max-width: 800px;
    padding: 20px 30px;
}

.file-viewer .query:focus {
    outline: none;
}

/* Header actions */
.header-actions {
    margin: 0;
    padding: 0 0 0 5px;
    color: rgba(0, 0, 0, 0.5);
    border-left: solid 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.8s;
}

.header-actions:hover {
    border-color: rgba(0, 0, 0, 0.25);
}

.header-action {
    margin: 0;
    display: inline-block;
    list-style: none;
}

.header-action .keyboard-hint {
    color: rgba(0, 0, 0, 0.25);
    font-size: 10px;
}

.header-action a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.header-action a:hover, .header-action a:focus {
    color: rgba(0, 0, 0, 1);
}
/* END */

/* File list */
.file-list {
    margin: 0;
    padding: 20px 40px 0;
    list-style: none;
}

.file-list-entry {
    margin: 2px 0 0 0;
}

.file-list-entry.is-directory {
    font-weight: bold;
}

.file-list-entry.is-symlink {
    color: rgba(0, 0, 0, 0.75);
}

.file-list-entry .symlink-target {
    color: rgba(0, 0, 0, 0.55);
}
/* END */

/* Utility */
.hidden {
    display: none !important;
}

.noscroll {
    overflow: hidden;
}

.u-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 60px;
    margin: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

.u-modal-content {
    z-index: 1;
    background: white;
    border:  solid 1px rgba(0,0,0,0.25);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
    text-align: left;
    display: inline-block;
}

.u-right {
    float: right;
}
/* END */


/* /help */

div.example {
    margin: 10px;
    width: 20em;
    padding-left: 2em;
}

.query {
    font-family: monospace;
    font-weight: bold;
}

.example .link {
    font-size: 80%;
    float: right;
}
