body {
    margin: 1em 3em;
}

#searcharea {
    width: 30em;
    margin: auto;
    margin-bottom: 1em;
    padding: 5px;
    border: 1px solid black;
}

#searcharea p {
    margin: 10px;
}

#searchinput {
    float: left;
}

#errorbox {
    float: right;
}

#casefold {
    float: right;
    clear: right;
}

#casefold label {
    font-weight: bold;
}

#regex-error {
    display: none;
}

#errortext {
    color: red;
}

#searchtimebox {
    display: none
}

#resultbox {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
}

.label {
    font-weight: bold;
}

.clear {
    clear: both;
}

.match {
    margin: 1em 2em;
}

.match .label {
    font-family: monospace;
}

.match .more {
    font-size: 90%;
}

.matchline .lno {
    font-weight: bold;
}

.match .contents {
    white-space: pre;
    font-family: monospace;
    background: #eee;
    border: 1px solid black;
    margin-left: 1em;
    margin-top: 5px;
}

.match .code .line {
   padding-left: 4em;
}

.contents div.lnos {
    float: left;
    border-right: 1px solid grey;
    padding: 3px 0px 3px 3px;
}

.contents div.code {
    padding: 3px 0px;
}

.match .lno {
    width: 3em;
}

.match .matchstr {
    font-weight: bold;
}

#countarea {
    float: right;
}

.what {
    font-size: 80%;
    color: #999;
    padding-bottom: 5px;
}

#header li {
    display: inline;
}

#header li:before {
    content: "∙";
    color: #999;
    text-decoration: none;
    margin: 5px;
}

#header li:first-child:before {
    content: ""
}

#header .first {}

#header {
    font-size: 80%;
    color: #999;
    margin: auto;
    width: 40em;
}

#feedback {
    border: 3px double black;
    background: white;
    z-index: 1;
    position: absolute;
    display: none;
}

#feedback .spinner {
    display: none;
}

#feedback input {
    margin: 5px;
}

#feedback button {
    margin: 5px;
}

#feedback textarea {
    margin: 5px;
}

#feedback .submit {
    float: right;
}

#feedback {
    font-size: 80%;
    color: #999;
    margin: 5px;
}

#feedback .result {
    font-size: 100%;
}

#permalink {
    font-size: 80%;
}

#resultarea {
    display: none;
}
