body {
    margin: 1em 3em;
    font-family: sans-serif;
}

#searcharea {
    width: 40em;
    margin: auto;
    margin-bottom: 1em;
    border: 1px solid black;
}

#searcharea p {
    margin: 10px;
}

#searchinput {
    margin: 10px;
}

.querybox {
    font-size: 80%;
    text-align: center;
}

.querybox .help a {
    text-decoration: none;
}

#searcharea input {
    width: 20em;
}

#whatbox {
    padding-left: 1em;
}

.what {
    color: #999;
}

#regex-error {
    display: none;
    text-align: center;
    margin: 10px;
}

#errortext {
    color: red;
}

#searchtimebox {
    display: none
}

#resultbox {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
}

.label {
    font-weight: bold;
}

.clear {
    clear: both;
}

.match {
    margin: 1em 2em;
}

.match .label {
    font-family: monospace;
}

.match .more {
    font-size: 90%;
}

.matchline .lno {
    font-weight: bold;
}

.lno {
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.lno:before {
    content: attr(line_number);
}

.code {
    width: 100%;
}

tr:nth-child(even) {
    background: #DDDDDD;
}

.match .contents {
    white-space: pre-wrap;
    font-family: monospace;
    background: #eee;
    border: 1px solid black;
    margin-left: 1em;
    margin-top: 5px;
}

.matchstr{
    background: #FFFF00;
}

.contents div.lnos {
    float: left;
    border-right: 1px solid grey;
    padding: 3px 0px 3px 3px;
}

.contents div.code {
    padding: 3px 0px;
}

.match .lno {
    width: 3em;
}

.line {
    word-wrap: break-word;
}

.code {
    table-layout: fixed;
}

.match .matchstr {
    font-weight: bold;
}

#countarea {
    float: right;
}

#header li {
    display: inline;
}

#header li:before {
    content: "∙";
    color: #999;
    text-decoration: none;
    margin: 5px;
}

#header li:first-child:before {
    content: ""
}

#header .first {}

#header {
    font-size: 80%;
    color: #999;
    margin: auto;
    width: 40em;
}

#permalink {
    font-size: 80%;
}

#resultarea {
    display: none;
}

/* /help */

div.example {
    margin: 10px;
    width: 20em;
    padding-left: 2em;
}

.query {
    font-family: monospace;
    font-weight: bold;
}

.example .link {
    font-size: 80%;
    float: right;
}
